<footer class="footer">

    <div class="footer-logo">
        <i class="fa-solid fa-heart-pulse"></i>
        <span>VitaCare</span>
    </div>

    <p class="footer-text">
        Personalized Healthcare Guidance for Everyone.
    </p>

    <div class="footer-links">
        <a href="#">Dashboard</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
    </div>

    <div class="footer-bottom">
        © 2026 VitaCare. All Rights Reserved.
    </div>

</footer>